---
---

@import "{{ site.theme }}";

.nav_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
}

ul.nav_item, ul.nav_item > li  {
    	display: block;
}

.nav { 
    grid-area: nav;
    position: fixed;
    list-style-type: none;
    height: 100%;
    overflow: auto;
}
.menu { grid-area: menu; }
.grid-container {
    display: grid;
    grid-template-areas:
      'nav main main main main';
    gap: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
.container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}
#padded {
    padding-left: 20%;
}