---
---

@import "{{ site.theme }}";

    .nav_list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 5%;
        margin-top: 0;
        width: 90%;
        position: fixed;
        overflow: hidden;
        /* display: block; */
        border-bottom: 1px solid #82dc53;
        background: #1b1b1b;
        padding: 14px 16px;
    }

ul.nav_item, ul.nav_item > li  {
    	display: block;
}

img {
    max-height: 400px;
}

.nav { 
    grid-area: nav;
    position: fixed;
    list-style-type: none;
    height: 100%;
    overflow: auto;
}
.menu { 
    grid-area: menu;
    text-align: center;
 }
.grid-container {
    margin-top: 3%;
    display: grid;
    grid-template-areas:
      'nav main main main main';
    gap: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
.container {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}
#padded {
    padding-left: 20%;
}