---
---

@import "{{ site.theme }}";

::marker {
    display: none !important;
}

.nav_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

ul.nav_item, ul.nav_item > li  {
    	display: none;
}

.nav { grid-area: nav; }
.menu { grid-area: menu; }
.grid-container {
    display: grid;
    grid-template-areas:
      'nav menu menu main main';
    gap: 10px;
}